<div
  class="contact-summary__container shadow-xl w-[500px] bg-white dark:bg-gray-900 rounded w-full"
>
  <div class="contact-summary p-4 flex flex-col gap-2">
    <!-- <div class="flex gap-2">
      <span>
        <span class="font-semibold text-primary">
          @if(contact.firstName) {
            {{ contact.firstName | titlecase }}
            {{ contact.lastName | titlecase }}
          }@else {
            {{ contact.remotePhoneNumber | phoneMask }}
          }
        </span>
        <p class="text-sm text-gray dark:text-gray-200">
          {{ contact.notes }}
        </p>
      </span>
    </div>
    <mat-divider></mat-divider>
    <div class="flex flex-col gap-2">
      @for (data of contact.followUpStepData; track data) {
        <div class="flex items-center gap-2 text-sm">
          <p class="text-gray dark:text-gray-200">
            <strong>{{ data.title | toTitleCase }}</strong>:
            <ng-container *ngIf="data.value !== null && data.value !== undefined; else showNA">
              <ng-container *ngIf="data.isDate; else showValue">
                {{ data.value | timeAgo : live }}
              </ng-container>
            </ng-container>
            <ng-template #showNA>N/A</ng-template>
            <ng-template #showValue>{{ data.value | toTitleCase }}</ng-template>
          </p>
        </div>
      }
    </div> -->

    <!-- chat here -->

    <div class="flex gap-2">
      <span>
        <span class="font-semibold text-primary"> Message Thread </span>
      </span>
    </div>
    <mat-divider></mat-divider>
    <!-- <div class="flex flex-col p-4">
       Chat Container -->

    <div class="flex flex-col p-4 h-80 overflow-y-auto">
      <!-- Chat Container -->
      <div class="flex flex-grow flex-col p-4">
        <!-- Loop Through Messages -->
        <ng-container *ngFor="let message of messages">
          <!-- Outgoing Message -->
          <div
            *ngIf="message.direction === 'outgoing'"
            class="mb-4 flex items-end justify-end"
          >
            <div
              class="max-w-xs rounded-lg bg-primary text-white p-3 shadow"
              [ngClass]="{
                'bg-gray-300': message.deliveryStatus === 'unknown'
              }"
            >
              <p>{{ message.activityMessage }}</p>
            </div>
          </div>

          <!-- Incoming Message -->
          <div
            *ngIf="message.direction === 'incoming'"
            class="mb-4 flex items-start"
          >
            <div
              class="max-w-xs rounded-lg bg-gray-200 p-3 text-gray-800 shadow"
            >
              <p>{{ message.activityMessage }}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <!-- end here -->
  </div>
</div>
